{#Later I will improve and use this twigs#}
<form method="post" action="{{ path('app_author_delete', {'id': author.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ author.id) }}">
    <button class="btn">Delete</button>
</form>
