{#Later I will improve and use this twigs#}
{% extends 'base.html.twig' %}

{% block title %}Edit Author{% endblock %}

{% block body %}
    <h1>Edit Author</h1>

    {{ include('author/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_author_index') }}">back to list</a>

    {{ include('author/_delete_form.html.twig') }}
{% endblock %}
